<ion-header>
  <ion-toolbar>
    <ion-title>Sinopsis</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="movie-detail-content">
  <div class="movie-poster-container">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="{{ movie.title }}"
      class="movie-poster"
    />
  </div>

  <div class="movie-info">
    <h2 class="movie-title">{{ movie.title }}</h2>
    <p class="movie-release-date">Fecha de lanzamiento: {{ movie.release_date }}</p>
    <p class="movie-rating">Calificación: {{ movie.vote_average }} / 10</p>
    <h3>Sinopsis</h3>
    <p>{{ movie.overview }}</p>
  </div>
</ion-content>

