<div class="welcome-container">
  <div class="margen">
    <div class="overlay"></div>

    <header>
      <div routerLink="/home" class="netflix-logo">
        <span>T</span>
        <span>E</span>
        <span>D</span>
        <span>F</span>
        <span>L</span>
        <span>I</span>
        <span>X</span>
      </div>
      <button class="sign-in-button">Iniciar Sesión</button>
    </header>
    <div class="container">
      <div class="login-container">
        <div class="login-box">
          <h2>{{exito}}</h2>
          <h1>Inicia Sesión</h1>
          <form (ngSubmit)="login()"
      [formGroup]="loginUsuario">
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="email"
                fill="solid"
                label="Email o número de celular"
                labelPlacement="floating"
                errorText="Introduce un correo electrónico válido"
                formControlName="email"
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="password"
                fill="solid"
                label="Contraseña"
                labelPlacement="floating"
                errorText="La contraseña debe de tener más de 6 caracteres"
                formControlName="password"
              ></ion-input>
            </div>
            <div *ngIf="showError" style="font-size: 12px; text-align: center">
              {{mensaje}}
            </div>
            <button type="submit" class="login-button">Iniciar Sesión</button>
            <div class="options">
              <label>
                <input type="checkbox" />
                Recuérdame
              </label>
              <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
            </div>
          </form>
          <div class="signup">
            <p>
              ¿Primera vez en Tedflix?
              <a routerLink="/registrar">Suscríbete ahora</a>
            </p>
            <small>
              Esta página está protegida por Google reCAPTCHA para asegurarnos
              de que no eres un bot.
              <a >Más información</a>.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
