<div class="welcome-container">
  <div class="margen">
    <div class="overlay"></div>

    <header>
      <div routerLink="/home" class="netflix-logo">
        <span>T</span>
        <span>E</span>
        <span>D</span>
        <span>F</span>
        <span>L</span>
        <span>I</span>
        <span>X</span>
      </div>
      <button routerLink="/login" class="sign-in-button">Iniciar Sesión</button>
    </header>
    <div class="container">
      <div class="login-container">
        <div class="login-box">
          <h1>Registrarse</h1>
          <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="text"
                fill="solid"
                label="Nombre de Usuario"
                labelPlacement="floating"
                errorText="Usuario inválido"
                formControlName="username"
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="email"
                fill="solid"
                label="Correo electrónico"
                labelPlacement="floating"
                errorText="Introduce un correo electrónico válido"
                formControlName="email"
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="password"
                fill="solid"
                label="Contraseña"
                labelPlacement="floating"
                errorText="La contraseña debe de tener más de 6 caracteres"
                formControlName="password"
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="password"
                fill="solid"
                label="Repetir contraseña"
                labelPlacement="floating"
                formControlName="repetirPassword"
              ></ion-input>
              <span
                style="
                  left: 1rem;
                  position: relative;
                  font-size: smaller;
                  color: #e94a55;
                "
                *ngIf="
                  registrarUsuario.hasError('mismatch') &&
                  registrarUsuario.get('repetirPassword')?.touched
                "
                class="text-danger errorLabel"
                >Las contraseñas no coinciden</span
              >
            </div>

            <div *ngIf="showError" style="font-size: 12px; text-align: center">
              {{mensaje}}
            </div>

            <button type="submit"  class="login-button">Registrarse</button>
            <div class="options">
              <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
