<div class="welcome-container">
  <div class="margen">
    <div class="overlay"></div>

    <header>
      <div routerLink="/home" class="netflix-logo">
        <span>T</span>
        <span>E</span>
        <span>D</span>
        <span>F</span>
        <span>L</span>
        <span>I</span>
        <span>X</span>
      </div>
      <button routerLink="/login" class="sign-in-button">Iniciar Sesión</button>
    </header>
    <div class="container">
      <div class="login-container">
        <div class="login-box">
          <h1>Registrarse</h1>
          <form>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="text"
                fill="solid"
                label="Nombre de Usuario"
                labelPlacement="floating"
                helperText="Introduce un usuario"
                errorText="Usuario inválido"
                ngModel
                email
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="email"
                fill="solid"
                label="Correo electrónico"
                labelPlacement="floating"
                helperText="Introduce un correo electrónico válido"
                errorText="Correo inválido"
                ngModel
                email
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="password"
                fill="solid"
                label="Contraseña"
                labelPlacement="floating"
                helperText="Introduce tu contraseña"
                ngModel
                required
              ></ion-input>
            </div>
            <div class="input-group">
              <ion-input
                class="input-custom"
                type="password"
                fill="solid"
                label="Repetir contraseña"
                labelPlacement="floating"
                helperText="Repite tu contraseña"
                ngModel
                required
              ></ion-input>
            </div>
            <button class="login-button">Registarse</button>
            <div class="options">
              <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
