.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/CO-es-20240909-TRIFECTA-perspective_071d8885-7af4-4c69-8cf0-02adec798a23_large.jpg");
  color: white;
}

.margen {
  margin: 0 5%;
}
.ion-color-danger {
  --ion-color-base: #f70012 !important;
  --ion-color-contrast: #fffbfb !important;
}

.tedflix-logo {
  font-size: 40px;
  font-family: monospace;
  color: #e50914;
  font-weight: 600;
  display: flex;
}

.tedflix-logo span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.tedflix-logo span:hover {
  transform: scale(1.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.sign-in-button {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-content {
  max-width: 800px;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem; /* Tamaño más ajustado para pantallas pequeñas */
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.email-form input {
  padding: 15px;
  font-size: 16px;
  width: 60%;
  max-width: 100%;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  outline: none;
}

.start-button {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .email-form input {
    padding: 15px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    outline: none;
  }
  .email-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .tedflix-logo {
    font-size: 35px;
    font-family: monospace;
    color: #e50914;
    font-weight: 600;
    display: flex;
  }
}
