.welcome-container {
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/CO-es-20240909-TRIFECTA-perspective_071d8885-7af4-4c69-8cf0-02adec798a23_large.jpg")
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.margen {
  margin: 0% 3%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.netflix-logo {
  font-size: 40px;
  font-family: monospace;
  color: #e50914;
  font-weight: 600;
}

.netflix-logo span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.netflix-logo span:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

header {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  z-index: 2;
}

.logo {
  height: 40px;
}

.sign-in-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.welcome-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  top: 8%;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.email-form input {
  padding: 15px;
  font-size: 16px;
  width: 300px;
  max-width: 100%;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  outline: none;
}

.start-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
  font-weight: bold;
}

.start-button:hover {
  background-color: #f40612;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 60px 68px;
  max-width: 450px;
  width: 100%;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.login-box h1 {
  font-size: 32px;
  margin-bottom: 28px;
}

.input-group {
  margin-bottom: 16px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border: none;
  background: #333;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

.login-button {
  background-color: #e50914;
  color: white;
  padding: 16px;
  border: none;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 24px;
  font-weight: 500;
}

.login-button:hover {
  background-color: #f40612;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.options label {
  font-size: 14px;
}

.options a {
  color: #b3b3b3;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.signup {
  margin-top: 24px;
  text-align: center;
  font-size: 16px;
}

.signup a {
  color: #fff;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.signup small {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #8c8c8c;
  line-height: 1.5;
}
