<div class="welcome-container">
  <div class="margen">
    <div class="overlay"></div>

    <header>
      <div class="netflix-logo">
        <span>T</span>
        <span>E</span>
        <span>D</span>
        <span>F</span>
        <span>L</span>
        <span>I</span>
        <span>X</span>
      </div>
      <button routerLink="/login" class="sign-in-button">Iniciar Sesión</button>
    </header>
    <div class="container">
      <div class="welcome-content">
        <h1>
          Películas y series <br />
          ilimitadas y mucho <br />
          más.
        </h1>
        <h2>A partir de $ 16.900. Cancela cuando quieras.</h2>
        <p>
          ¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o
          reiniciar tu membresía de Netflix.
        </p>

        <div class="email-form">
          <input
            type="email"
            placeholder="Email address"
            aria-label="Enter your email"
          />
          <button class="start-button">Comenzar</button>
        </div>
      </div>
    </div>
  </div>
</div>
