<div class="welcome-container">
  <div class="margen">
    <header>
      <div class="tedflix-logo">
        <span>T</span>
        <span>E</span>
        <span>D</span>
        <span>F</span>
        <span>L</span>
        <span>I</span>
        <span>X</span>
      </div>
      <ion-button routerLink="/login" class="sign-in-button" expand="block" color="danger">Iniciar Sesión</ion-button>
    </header>
    <div class="container">
      <div class="welcome-content">
        <h1>
          Películas y series <br />
          ilimitadas y mucho <br />
          más.
        </h1>
        <h2>A partir de $ 16.900. Cancela cuando quieras.</h2>
        <p>
          ¿Quieres ver Tedflix ya? Ingresa tu email para crear una cuenta o
          reiniciar tu membresía de Tedflix.
        </p>

        <div class="email-form">
          <input
            type="email"
            placeholder="Ingresa tu correo"
            aria-label="Enter your email"
            [(ngModel)]="correo"
          />
          <ion-button (click)="enviar()" expand="block" color="danger" class="start-button">Comenzar</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
