<div class="mobile">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="mb-nav">
          <div class="logo-mobile">T</div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            "
          >
            <div class="navbar">
              <a (click)="showSeries()">Series</a>
              <a (click)="showMovies()">Películas</a>
              <ion-select
                style="font-weight: 600;"
                placeholder="Género"
                interface="popover"
                (ionChange)="filterByGenre($event)"
              >
                <ion-select-option
                  *ngFor="let genre of genres"
                  [value]="genre.id"
                >
                  {{ genre.name }}
                </ion-select-option>
              </ion-select>
            </div>
            <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </div>
        </div>
        <ion-searchbar
          *ngIf="busqueda"
          (ionInput)="searchMovies($event.target.value)"
        ></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div
        *ngIf="ver"
        class="carousel-container"
      >
        <h2 class="titulo">{{titulo || 'Genero'}}</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of generos"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="!ver">
        <div
        *ngIf="view === 'all' || view === 'movies'"
        class="carousel-container"
      >
        <h2 class="titulo">Películas Populares</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of populares"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div
        *ngIf="view === 'all' || view === 'movies'"
        class="carousel-container"
      >
        <h2 class="titulo">Estrenos</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of estreno"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Las mas valoradas</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of mejorValoradas"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Tendencia</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of tendencia"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div
        *ngIf="view === 'all' || view === 'series'"
        class="carousel-container"
      >
        <h2 class="titulo">Anime</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of popularAnime"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Colombia</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of colombianas"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Comedia</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of comedia"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div
        *ngIf="view === 'all' || view === 'movies'"
        class="carousel-container"
      >
        <h2 class="titulo">Suspenso</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of suspenso"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Terror</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of terror"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div
        *ngIf="view === 'all' || view === 'series'"
        class="carousel-container"
      >
        <h2 class="titulo">Romance</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of romance"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div
        *ngIf="view === 'all' || view === 'series'"
        class="carousel-container"
      >
        <h2 class="titulo">Series</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of series"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Accion</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of accion"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="view === 'all'" class="carousel-container">
        <h2 class="titulo">Proximamente</h2>
        <div class="horizontal-scroll">
          <div
            class="horizontal-item"
            *ngFor="let movie of proximamente"
            (click)="openMovieSynopsis(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
            />
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
      </div>
    </ion-content>

    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="home-outline"></ion-icon>
        <ion-label (click)="showAll()">Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="search-outline"></ion-icon>
        <ion-label (click)="scan()">Búsqueda</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</div>
