.mobile{
  display: none;
}
.welcome-container{
  display: block;
}
@media screen and (max-width: 800px){
.mobile {
  display: block;
}
.welcome-container {
  display: none;
}
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
