.netflix-logo {
  height: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #141414;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

.featured-content {
  position: relative;
  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .featured-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }
}

.movie-section {
  margin-top: 20px;

  h3 {
    color: white;
    margin-left: 15px;
  }

  .movie-slider {
    padding-left: 10px;
  }

  .movie-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
}
