<app-mobile-main class="mobile"></app-mobile-main>

<app-desktop-main class="welcome-container"></app-desktop-main>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div style="display: flex">
        <ion-title>Hola! {{ seleccion?.name }}</ion-title>
        <img style="width: 42px" [src]="seleccion?.image" alt="Seleccionada" />
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item style="cursor: pointer" (click)="changeProfile()"
        >Cambiar perfil</ion-item
      >
      <ion-item style="cursor: pointer" (click)="cerrarSesion()"
        >Cerrar sesion</ion-item
      >
    </ion-list>
  </ion-content>
</ion-menu>
