///nuevo codigo
.welcome-container {
  overflow-x: hidden;
    overflow-y: auto;
  position: relative;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/CO-es-20240909-TRIFECTA-perspective_071d8885-7af4-4c69-8cf0-02adec798a23_large.jpg")
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.margen {
  margin: 0% 3%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.netflix-logo {
  font-size: 40px;
    font-family: monospace;
    color: #e50914;
    font-weight: 600;
    width: 18rem;
}

.netflix-logo span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.netflix-logo span:hover {
  transform: scale(1.1);
}


header {
  background-color: #00000042;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 34px;
    z-index: 2;
    width: -webkit-fill-available;
}

.logo {
  height: 40px;
}



.welcome-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  top: 8%;
}

.navbar {
  width: 100%;
    display: flex;
    padding: 10px;
    gap: 2rem;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}


.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 1 0 15%;
    box-sizing: border-box;
    padding: 5px;
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  max-width: 150px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button-prev {
  left: 10px;
}

.carousel-button-next {
  right: 10px;
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
.logo-mobile {
  display: none;
}
.mobile{
  display: none;
}
.mb-nav{
  display: flex;
    padding: 5px 0 0 11px;
    align-items: center;
}
////////
///
///
@media screen and (max-width: 600px){
  .welcome-container {
    display: none;
  }
  .viewer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.netflix-logo {
    display: none;
}
.logo-mobile {
  display: block;
    font-weight: bold;
    color: #e50914;
    font-size: 3rem;
    position: relative;
    bottom: 9px;
}
.hide {
  display: none;
}
.notification{
  display: none;
}
header {
    background-color: rgba(0, 0, 0, 0.2588235294);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    z-index: 2;
    width: -webkit-fill-available;
}
.navbar {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 2rem;
    align-items: flex-start;
}
.mobile {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


}

.custom-avatar img {
  width: 120px;
    height: 80px;
    object-fit: cover;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: -webkit-fill-available;

  /* Ocultar la barra de desplazamiento */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.horizontal-item {
  display: inline-block;
  margin-right: 10px;
}

.btn{
  display:  none !important;
  bottom: 76px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



